<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/CSS/new-jedi.css" th:href="@{/CSS/new-jedi.css}" media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"></script>
    <title>Jedi</title>

</head>

<body>

    <div class="container-xl">

        <div class="cad-form">
        <form method="post" th:action="@{/jedi}" th:object="${jedi}">

            <div class="col-sm-6"><h3>New Jedi</h3></div><br />

            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input th:field="*{name}" type="text" class="form-control" />
                <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
            </div>
            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input th:field="*{lastName}" type="text" class="form-control" />
                <p class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" />
            </div>

            <button type="submit" class="btn btn-info">Save Jedi</button>
            <a th:href="@{/jedi}" class="btn btn-danger" role="button">Cancel</a>

        </form>
        </div>

    </div>

</body>

</html>